html,
body {
  font-weight: 400;
  background: var(--Bg--);
}
.top-patten {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.body-wrapper {
  padding: 30px 24px;
}
.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.header .left {
  border-bottom: 1px solid darkgray;
  padding-bottom: 26px;
}
.header .left .title {
  font-size: 24px;
  color: var(--Text--);
}

.changes-wrapper {
  flex-direction: column;
}

/* biggerBLock */
.big-card-block {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

/* smallBlock */
.small-card-block {
  width: 100%
}